{% extends "base.html" %}
{% block nav %}
     <a class="nav-link" href="/todolist/add/">Добавить новую задачу</a>
{% endblock %}
{% block content %}

    <div class="border rounded-3 my-4 p-3">
        <h1>задачи</h1>
    </div>
    <div class="row row-cols-md-3 g-4">
        {% for todolist in todolists %}
            <div class="col">
                <div class="card border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">{{ todolist.description }}</h5>
                        <span>{{ todolist.execution_date }}</span>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p class="card-text">Статус: {{ todolist.status }}</p>
                        <a href="{% url 'todolist_detail' todolist.id %}" class="card-link mt-auto ms-auto">Посмотреть подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет задач</p>
        {% endfor %}
    </div>
{% endblock %}