{% extends "base.html" %}
{% block nav %}
     <a class="nav-link" href="/todolist/add/">Добавить новую задачу</a>
{% endblock %}
{% block content %}

    <div class="card my-5">
        <div class="card-header fs-4 text-center">{{ todolist.description }}</div>
        <div class="card-header fs-4 text-center">{{ todolist.more_detailed_description }}</div>
        <div class="card-body">
            <p>Статус: {{ todolist.status }}</p>
            <p>Дата выполнения: {{ todolist.execution_date }}</p>
        </div>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            удалить
        </button>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление задачи</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Вы действительно хотите удалить задание "{{ todolist.description }}"?</p>
          <form action="{% url 'todolist_delete' todolist.pk %}" method="POST" id="delete-form">
              {% csrf_token %}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" form="delete-form" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}